@keyframes loading {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.dot {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 .5rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--primary);
    border-radius: 50%;
    opacity: .7;
    animation: loading 2s linear infinite;
}

.dot:nth-child(2)::before {
    animation-delay: .2s;
}

.dot:nth-child(3)::before {
    animation-delay: .4s;
}

.dot:nth-child(4)::before {
    animation-delay: .6s;
}

.dot:nth-child(5)::before {
    animation-delay: .8s;
}
